In [17]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv("yeast_cdc28.csv", header=0)

In [19]:
data

,GENE,cdc28_0min,cdc28_10min,cdc28_20min,cdc28_30min,cdc28_40min,cdc28_50min,cdc28_60min,cdc28_70min,cdc28_80min,cdc28_90min,cdc28_100min,cdc28_110min,cdc28_120min,cdc28_130min,cdc28_140min,cdc28_150min,cdc28_160min
0,FKH2,-0.31,-0.19,-0.91,-0.03,0.16,0.34,0.46,0.51,0.50,-0.31,-0.44,-0.07,0.11,NaN,-0.02,0.28,-0.09
1,ACE2,-0.92,-1.31,-0.96,-0.42,0.19,0.36,0.63,0.55,0.72,0.51,-0.31,-0.58,0.21,NaN,0.29,0.73,0.30
2,SWI5,-1.82,-1.35,-0.65,-0.67,-0.40,0.34,0.57,0.47,0.51,0.34,0.12,-0.25,0.08,NaN,0.80,1.27,0.63
3,MCM1,-0.34,0.09,0.30,0.11,0.16,0.13,0.02,0.22,-0.24,0.38,0.19,NaN,-0.53,0.10,-0.18,-0.17,-0.24
4,CLN3,-0.05,-0.15,-0.58,-0.58,0.18,-0.67,0.29,0.20,0.02,1.32,0.27,NaN,-0.41,-0.05,0.17,0.14,-0.11
5,MBP1,-0.16,-0.30,-0.33,0.08,0.32,0.27,0.27,0.03,-0.01,-0.54,-0.24,-0.15,0.33,NaN,0.27,0.23,-0.08
6,SWI4,-0.21,0.19,0.86,0.04,-0.35,-0.39,-0.51,-0.20,0.00,0.92,0.77,0.41,0.14,-0.45,-1.23,NaN,NaN
7,SWI6,-0.73,-0.42,0.01,0.28,0.32,0.29,0.09,0.05,-0.32,-0.10,0.12,-0.12,0.09,NaN,0.35,0.10,-0.01
8,YOR372C,-0.41,-0.90,0.16,0.55,0.49,0.56,0.20,0.06,-0.26,-0.50,-0.38,0.19,0.38,0.25,NaN,-0.16,-0.23

In [61]:
original_data = []

for index, row in data.iterrows():
    gene_name = row.iloc[0]
    values = row.iloc[1:].values
    original = []
    
    for v in values:
        
        #print(v)
        
        if not np.isnan(v):
            
            original.append(2 ** v)
        else:
           
            original.append(0)
        
    #break
 
    original_data.append([gene_name] + original)

# Convert list to DataFrame
df = pd.DataFrame(original_data)

In [62]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,FKH2,0.806642,0.876606,0.532185,0.979420,1.117287,1.265757,1.375542,1.424050,1.414214,0.806642,0.737135,0.952638,1.079228,0.000000,0.986233,1.214195,0.939523
1,ACE2,0.528509,0.403321,0.514057,0.747425,1.140764,1.283426,1.547565,1.464086,1.647182,1.424050,0.806642,0.668964,1.156688,0.000000,1.222640,1.658639,1.231144
2,SWI5,0.283221,0.392292,0.637280,0.628507,0.757858,1.265757,1.484524,1.385109,1.424050,1.265757,1.086735,0.840896,1.057018,0.000000,1.741101,2.411616,1.547565
3,MCM1,0.790041,1.064370,1.231144,1.079228,1.117287,1.094294,1.013959,1.164734,0.846745,1.301342,1.140764,0.000000,0.692555,1.071773,0.882703,0.888843,0.846745
4,CLN3,0.965936,0.901250,0.668964,0.668964,1.132884,0.628507,1.222640,1.148698,1.013959,2.496661,1.205808,0.000000,0.752623,0.965936,1.125058,1.101905,0.926588
5,MBP1,0.895025,0.812252,0.795536,1.057018,1.248331,1.205808,1.205808,1.021012,0.993092,0.687771,0.846745,0.901250,1.257013,0.000000,1.205808,1.172835,0.946058
6,SWI4,0.864537,1.140764,1.815038,1.028114,0.784584,0.763130,0.702222,0.870551,1.000000,1.892115,1.705270,1.328686,1.101905,0.732043,0.426317,0.000000,0.000000
7,SWI6,0.602904,0.747425,1.006956,1.214195,1.248331,1.222640,1.064370,1.035265,0.801070,0.933033,1.086735,0.920188,1.064370,0.000000,1.274561,1.071773,0.993092
8,YOR372C,0.752623,0.535887,1.117287,1.464086,1.404445,1.474269,1.148698,1.042466,0.835088,0.707107,0.768438,1.140764,1.301342,1.189207,0.000000,0.895025,0.852635

In [64]:
df.to_csv("original_data_cdc28.txt", index=False, header=False, sep='\t')